<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.civer.blog.Mapper.PostLabelMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into t_post_label(post_id, label_id, create_time, update_time)
        VALUES (#{postId},#{labelId},NOW(),NOW())
    </insert>
    <insert id="insertIfNotExist" parameterType="map">
        INSERT INTO t_post_label (post_id, label_id, create_time, update_time)
        SELECT #{postId}, #{labelId}, NOW(), NOW()
        FROM DUAL
        WHERE NOT EXISTS (
            SELECT 1 FROM t_post_label
            WHERE post_id = #{postId} AND label_id = #{labelId}
        )
    </insert>

    <delete id="deleteByPostIds">
        DELETE FROM t_post_label WHERE post_id IN
         <foreach item="item" index="index" collection="postIds" open="(" separator="," close=")">
             #{item}
         </foreach>
    </delete>

    <select id="selectByPostIds" parameterType="list" resultType="cn.civer.blog.Model.DTO.PostLabelDTO">
        SELECT id as id, post_id as postId, label_id as labelId, create_time as createTime, update_time as updateTime
        FROM t_post_label
        WHERE post_id IN
        <foreach item="item" index="index" collection="postIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="update">
        UPDATE t_post_label
        SET label_id = #{labelId},
            update_time = NOW()
        WHERE id = #{id}
    </update>
</mapper>