<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.civer.blog.Mapper.UserMapper">
<!--    映射数据库表到实体类-->
    <resultMap id="UserResultMap" type="cn.civer.blog.Model.Entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="role" column="role"
                javaType="cn.civer.blog.Model.Enum.Role"/>
        <result property="registerTime" column="created_at"/>
        <result property="loginTime" column="login_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_user(id, username, password, role, login_time, register_time)
        values (
                #{id},
                #{username},
                #{password},
                #{role},
                #{loginTime},
                #{registerTime}
               )
    </insert>
    <update id="update">
        UPDATE t_user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>